Repository python-distro/distro, pull requests merged in 2023-03, with the labels that each got.

#354 Add support for ALT Linux Server 10.1 distribution
  src/distro/distro.py
  tests/resources/distros/altlinux10/etc/altlinux-release
  tests/resources/distros/altlinux10/etc/fedora-release
  tests/resources/distros/altlinux10/etc/os-release
  tests/resources/distros/altlinux10/etc/redhat-release
  tests/resources/distros/altlinux10/etc/system-release
  tests/test_distro.py
Labels: area: code, enhancement, area: test

#353 Ignore the file '/etc/board-release'
  src/distro/distro.py
  tests/resources/distros/bttcb1/etc/board-release
  tests/resources/distros/bttcb1/etc/os-release
  tests/resources/distros/bttcb1/usr/lib/os-release
  tests/test_distro.py
Labels: area: code, area: test, bug

#356 Add Debian Testing to the tests
  tests/resources/distros/debiantesting/bin/lsb_release
  tests/resources/distros/debiantesting/etc/debian_version
  tests/resources/distros/debiantesting/etc/os-release
  tests/test_distro.py
Labels: enhancement, area: test
